@import '../mixins/mixin';
@import '../variables/variable';

/*==============================================
            Promotion Banner Part Start
================================================*/
.promo_banner {
    background: #0b001b !important;
}

.promo_main {
    background: #0b001b !important;
}

.promo {
    background: $bg !important;
    padding: 0 !important;

    .chart {
        top: -152px !important;
    }

    .pro_banner {
        padding: 697px 0 126px;

        .promo_banner_left {
            position: relative;

            h2 {
                @include fs(#fcb100, 103px, 600, $anton);
                background: -webkit-linear-gradient(bottom, #fdb125 0%, #e07e1e 51%, #fcb100 54%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                filter: drop-shadow(0 0 35px #4d0148);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #4d0148;
                text-transform: uppercase;
                position: absolute;
                left: 50%;
                top: -405px;
                transform: translateX(-50%);
            }
        }

        .promo_banner_text {
            margin-top: -525px;

            h1 {
                @include fs(#fcb100, 198px, 600, $anton);
                background: linear-gradient(bottom, #fdb125 0%, #e07e1e 51%, #fcb100 54%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                filter: drop-shadow(0 0 35px #4d0148);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #4d0148;
                text-transform: uppercase;
            }

            h2 {
                @include fs($wh, 56px, 400, $anton);
                text-transform: uppercase;
                padding-top: 7px;
                padding-bottom: 25px;

                span {
                    font-size: 91px;
                    display: block;
                }
            }

            a {
                @include fs($wh, 20px, 400, $anton);
                padding: 15px 26px;
                line-height: 1;
                border-radius: 5px;
                margin-left: 15px;
                background: linear-gradient(to bottom, #9b4cfa 0%, #5c11cb 100%);
                box-shadow: 0 6px 0 0 rgba(58, 0, 144, 1);
                text-shadow: 5px 5px 0 rgba(88, 19, 184, 0.8);
                transition: all linear .3s;
                width: 51%;

                &:hover {
                    background: linear-gradient(to bottom, #fa35d6 0%, #ab048a 100%);
                    box-shadow: 0 6px 0 0 rgba(102, 19, 85, 1);
                    text-shadow: 5px 5px 0 rgba(166, 0, 133, 0.8);
                }
            }
        }
    }
}

/*==============================================
            Promotion Banner Part End
================================================*/